/* styles.css */
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 100;
}
body.dark-mode {
    background-color: black;
    color: white;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}